<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NewUser</title>
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#newUser').submit(function(event) {
            var fullName = $('#fullName').val();
            var phone = $('#phone').val();
            var address = $('#address').val();
            var age = $('#age').val();
            var email = $('#email').val();
            var username = $('#username').val();
            var password = $('#password').val();
            var json = { "fullName" : fullName, "phone" : phone, "address": address,"age": age,
                "email" :email, "username": username,"password" : password };
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type : "POST",
                data: JSON.stringify(json),
                url: "/creatNewUser",
                success: function(books) {
                    var respContent = " done";
                    respContent += "<span class='success'>new User : [";
                    respContent += ""+"<a href=\"/login\">dang nhap</a>"+""+"]</span>"
                    $("#userReponse").html(respContent);
                }
            });
            event.preventDefault();
            console.log(json);
        });
    });
</script>

<body>
<div id="container">
    <h1>Create new user</h1>
    <div>
        <p style="color:blue">Here you can create new Books:</p>
        <div id="userReponse"></div>
    </div>
    <form id="newUser" th:object="${users}">
        <table>
            <tbody>
            <tr>
                <td>Full Name : </td>
                <td><input th:field="*{fullName}" /></td>
            </tr>
            <tr>
                <td>Phone : </td>
                <td><input th:field="*{phone}" /></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input th:field="*{address}" /></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input th:field="*{age}" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input th:field="*{email}" /></td>
            </tr>
            <tr>
                <td>Account:</td>
                <td><input th:field="*{username}" /></td>
            </tr>
            <tr>
                <td>PassWord :</td>
                <td><input th:field="*{password}" /></td>
            </tr>

            <tr>
                <td><input type="submit" value="Create" /></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </form>
<!--    <a th:href="@{/books/viewBooks}" style="color: red">List Books</a>-->
</div>

</body>
</html>